<div style="margin-top: 2rem" class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label for="pw">Enter Length</label>
        <input
          class="input"
          (input)="onInputLength($event)"
          id="pw"
          type="number"
        />
      </div>

      <div class="field">
        <div style="display: flex; flex-direction: column" class="control">
          <label class="checkbox">
            <input (change)="onCheck('letters')" id="letters" type="checkbox" />
            Use Letters
          </label>

          <label class="checkbox">
            <input (change)="onCheck('numbers')" id="numbers" type="checkbox" />
            Use Numbers
          </label>

          <label class="checkbox">
            <input (change)="onCheck('symbols')" id="symbols" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>

      <div class="field">
        <button
          class="button is-primary is-fullwidth"
          [disabled]="buttonIsDisabled()"
          (click)="onClick()"
        >
          Generate
        </button>
      </div>

      <div *ngIf="password" class="field">
        <label for="generated-pw">Your password</label>
        <input class="input" [value]="password" type="text" readonly="true" />
      </div>
    </div>
  </div>
</div>

<div></div>

<div></div>
